<!DOCTYPE html>
<html>
  <head>
    <title><!-- TMPL_VAR title --></title>
    <!-- CSS Files -->
    <!-- TMPL_LOOP css -->
    <link href="<!-- TMPL_VAR url -->" rel="stylesheet">
    <!-- /TMPL_LOOP -->
  </head>
  <body>
    <div id="main">
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
    
    
    <!-- JavaScript Libraries -->
    <!-- TMPL_LOOP libs -->
    <script src="<!--TMPL_VAR url -->"></script>
    <!-- /TMPL_LOOP -->

    <!-- JavaScript -->
    <script><!--TMPL_VAR javascript --></script>
  </body>
</html>
